<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>Resend confirmation instructions</strong>
            </div>
              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email, class: "label" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                </div>

                <div class="field">
                  <%= f.submit "Resend confirmation instructions", class: "button is-one-quarter" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>

        </div>
        </div>
      </div>
        
    </div>
  </div>
</section>






