<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>Forgot your password?</strong>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email, class: "label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>

              <div class="field">
                <%= f.submit "Send me reset password instructions", class: "button" %> <br > <br>
                <%= link_to  "Sign Up", new_user_registration_path, class: "button is-primary" %>
                <%= link_to  "Login", new_user_session_path, class: "button is-light" %>
              </div>
            <% end %>
        </div>
        </div>
      </div>
        
    </div>
  </div>
</section>




