<section class="section">
    <div class="container">
        <p class="title">Manage Request 
            <%= link_to 'Post New Request', new_request_path, class: "button is-primary is-pulled-right" %>
        </p>
        <table class="table is-fullwidth">
            <thead class="is-centered">
                <tr>
                    <td>Date</td>
                    <td>Request</td>
                    <td class="has-text-right">Offers</td>
                    <td class="has-text-right">Action</td>
                </tr>
            </thead>
            <tbody>
                <% if @requests.blank? %>
                <tr>
                    <td colspan="4" class="has-text-centered"><h1>Nothing to show here</h1></td>
                </tr>
                <% end %>

                <% @requests.each do |r| %>
                    <tr>
                        <td><%= r.created_at.strftime('%d, %b %Y')%></td>
                        <td><%= link_to r.title, request_path(r)%></td>
                        <td class="has-text-right">3</td>
                        <td class="has-text-right">
                            <%= link_to edit_request_path(r), class:"m-r-5" do %>
                                <span class="icon has-text-success">
                                    <i class="far fa-edit fa-lg"></i>
                                </span>
                            <%end%>
                            <%= link_to r, method: :delete, data: {confirm: "Are you sure?"} do %>
                                <span class="icon has-text-danger">
                                    <i class="far fa-trash-alt fa-lg"></i>
                                </span>
                            <%end%>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>