<section class="container">
    <div class="container">
        <div class="form-container">
            <p class="title is-4 has-text-centered">What services are you looking for?</p>
            <%= form_for @request do |f| %>
              <div class="field">
                <label class="label">Title (*)</label>
                <%= f.text_field :title, placeholder: "I request...", class: "input"%>
              </div>
              <div class="field">
                <label class="label">Description (*)</label>
                <%= f.text_area :description, placeholder: "I request...", class: "textarea"%>
              </div>
              <div class="field">
                <label class="label">Choose a Category</label>
                <div class="select is-fullwidth">
                    <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id] }))%>
                </div>
              </div>
              <div class="field">
                <label class="label">Delivery</label>
                <%= f.number_field :delivery, placeholder: "1-30 days", class: "input"%>
              </div>
              <div class="field">
                <label class="label">Budget</label>
                <%= f.number_field :budget, placeholder: "$5 minimum", class: "input"%>
              </div>
              <div class="field">
                <label class="label">Upload Attachment (optional)</label>
                <div class="file is-warning has-name">
                    <label class="file-label">
                        <%= f.file_field :attachment_file, class: "file-input"%>
                        <span class="file-cta"><span class="file-label">Choose a file...</span></span>
                        <span class="file-name" id="file-name">No file selected</span>
                    </label>
                </div>
              </div>

              <div class="field has-text-centered">
                <%= f.submit 'Post Request', class: "button is-primary "%>
              </div>
            <% end %>
        </div>
    </div>
</section>

<script>
     $(document).ready(function(){
        var file = $('.file-input');
        file.change(function(e){
            if (file[0].files.length > 0){
                var attachment = file[0].files[0]
                $('.file-name').text(attachment.name + " ("+ attachment.size + " bytes)")
            }
        })
    })
</script>