<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>Log In</strong>
            </div>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, class: "label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>

              <div class="field">
                <%= f.label :password, class: "label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="field">
                <%= f.submit "Log in", class: "button is-danger is-centered is-fullwidth m-t-10 m-b-10" %> <br />
                <%= link_to "Sign up", new_registration_path(resource_name), class: "button is-primary is-half" %>
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "button is-light is-half" %><br />

              </div>
              <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, class: 'button is-primary is-fullwidth' %>
            <% end %>

        </div>
        </div>
      </div>
        
    </div>
  </div>
</section>



