<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/notification" %>
    <%= yield %>
  </body>
</html>
